body {
    background-color: #e6e6e6;
}
.form-signin{

    width: 300px;
    margin: auto;
}

#inlne-form {
    display: inline-block;
}



.content {
    font-size: 20px;
    padding: 25px;

}

.content_row {
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    min-width: 44px;
    margin-bottom: 1px;
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

.post-navbar {
    right: 35px;
    top: 5px;
    z-index: 2;
}

.dropleft button.dropdown-toggle:before{
    content: '';
    display: none;
}

div.dropdown-menu button.dropdown-item a{
    display: block;
}
a
{
    text-decoration:none;
}
a:hover {
    text-decoration:none;
}

div.blog-content img.profile-pic {
    border-radius: 25%;
    width: 4%;
}

div.comments-list{
    border-radius: 5px;
    padding: 15px;
}

div.comments-list h6.user_name {
    padding-top: 10px ;
    margin-left: 50px;
}

img.comment-author-pic {
    border-radius: 25%;
    width: 4%;
    float: left;
}

div.replyes div.reply-content {
    border-radius: 5px;
}


img.reply-author-pic {
    border-radius: 25%;
    width: 4%;
    float: left;
}

div.post {
    background-color: white;
    border-radius: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 50%;
}

#welcome-profile-pic {
    max-width: 100px;
}

.thumbnail {
    min-width: 300px;
}

img.thumbnail + form.absolute {
    top: 51px;
    left: 22px;
}

img.thumbnail + form.absolute > button{
    border: 1px solid white;
    color: #f5ffe8;
    background: none;
}

img.thumbnail + form.absolute > button:hover {
    color: black;
    background-color: white;
}

div.upload_image {
    height: 150px;
    overflow: hidden;
}

div.upload_image:hover span {
    opacity: 1;
}

div.upload_image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

div.upload_image span {
    width: 25px;
    height: 25px;
    line-height: 10px;
    padding-left: 9px;
    right: 17px;
    top: 10px;
    opacity: 0;
    transition: 0.3s ease;
}



/*user show start*/
.src-image {
    display: none;
}

.card {
    overflow: hidden;
    position: relative;
    border: 1px solid #CCC;
    border-radius: 8px;
    text-align: center;
    padding: 0;
    background-color: #284c79;
    color: rgb(136, 172, 217);
}

.card .header-bg {
    /* This stretches the canvas across the entire hero unit */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px #FFF solid;
    /* This positions the canvas under the text */
    z-index: 1;
}
.card .avatar {
    position: relative;
    margin-top: 15px;
    z-index: 100;
    height: 100px;
    width: 100px;
    overflow: hidden;
    margin: auto;
}

.card .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(0,0,30,0.8);
}

@keyframes bounce {
    0% {transform : translateY(0px);}
    25% {transform: translateY(5px);}
    40% {transform: translateY(-10px);}
    65% {transform: translateY(0px);}
    80% {transform: translateY(-5px);}
    100% {transform: translateY(0px);}
}

.requests-count {
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -3px;
    right: -5px;
    line-height: 19px;
    animation: 0.7s bounce;
}

div.messenger-item div.row{
    background: #f5f1e8;
    border-radius: 6px;
}
div.messenger-item:hover {
    cursor: pointer;
}

div.messenger-item .messenger-item-avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

div.messenger-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

div.messenger-item p {
    color: #4a4e4e;
    line-height: 44px;
}

.messages + div.message-input {
    display: none;
    bottom: 30px;
}

div.messages {
    min-height: 80vh;
}
div.messages #mainBlock > div {
    border-radius: 5px;
}
div.m-avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
}
.message-author-avatar {
object-fit: cover;
    width: 100%;
    height: 100%;
}

div.messages #mainBlock .recived-message {
    transform: translate(10px,-14px);
    display: inline-block;
    border-radius: 5px;
    padding: 0px 2px 0px 2px;
}

div.messages #mainBlock .my-message {
    transform: translate(-10px,-14px);
    display: inline-block;
    border-radius: 5px;
    padding: 0px 2px 0px 2px;
}

div.messages #mainBlock .recived-message:before {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    border-right: 10px solid #007bff;
    border-top: 8px solid transparent;
    border-left: 0 dotted;
    border-bottom: 8px solid transparent;
    vertical-align: middle;
    margin-left: 2px;
    content:'';
    left: -9px;
    top: 8px;
}

div.messages #mainBlock .my-message:before {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    border-right: 10px solid #007bff;
    border-top: 8px solid transparent;
    border-left: 0 dotted;
    border-bottom: 8px solid transparent;
    transform: rotate(180deg);
    vertical-align: middle;
    margin-left: 2px;
    content:'';
    right: -9px;
    top: 8px;
}


div#mainBlock {
    overflow-y:scroll ;
    max-height: 65vh;
    border: 1px solid grey;
}

div#mainBlock xmp {
    margin: 2px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 500;
}

div.card div.avatar img:hover {
    cursor: pointer;
}

.modal-body .collapse div:last-child input{
    transform: translateY(-2px);
}

div.card .modal .profile-userpic {
    width: 230px;
    height: 250px;
    overflow: hidden;
    margin: auto;
}

div.card .modal .profile-userpic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.showIfSeen{
    content: 'seen';
    display: block;
    float: right;
    transform: translate(-23px,-19px);
}

