.form-signin{
    width: 300px;
    margin: auto;
}

#inlne-form {
    display: inline-block;
}



.content {
    font-size: 20px;
    padding: 25px;

}

.content_row {
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    min-width: 44px;
    margin-bottom: 1px;
}
