body {
    background-color: #e6e6e6;
}
.form-signin{

    width: 300px;
    margin: auto;
}

#inlne-form {
    display: inline-block;
}



.content {
    font-size: 20px;
    padding: 25px;

}

.content_row {
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    min-width: 44px;
    margin-bottom: 1px;
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

.post-navbar {
    right: 35px;
    top: 5px;
    z-index: 2;
}

.dropleft button.dropdown-toggle:before{
    content: '';
    display: none;
}

div.dropdown-menu button.dropdown-item a{
    display: block;
}
a
{
    text-decoration:none;
}
a:hover {
    text-decoration:none;
}

div.blog-content img.profile-pic {
    border-radius: 25%;
    width: 4%;
}

div.comments-list{
    border-radius: 5px;
    padding: 15px;
}

div.comments-list h6.user_name {
    padding-top: 10px ;
    margin-left: 50px;
}

img.comment-author-pic {
    border-radius: 25%;
    width: 4%;
    float: left;
}

div.replyes div.reply-content {
    border-radius: 5px;
}


img.reply-author-pic {
    border-radius: 25%;
    width: 4%;
    float: left;
}

div.post {
    background-color: white;
    border-radius: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 50%;
}

#welcome-profile-pic {
    max-width: 100px;
}

.thumbnail {
    min-width: 300px;
}

img.thumbnail + form.absolute {
    top: 51px;
    left: 22px;
}

img.thumbnail + form.absolute > button{
    border: 1px solid white;
    color: #f5ffe8;
    background: none;
}

img.thumbnail + form.absolute > button:hover {
    color: black;
    background-color: white;
}

div.upload_image {
    height: 150px;
    overflow: hidden;
}

div.upload_image:hover span {
    opacity: 1;
}

div.upload_image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

div.upload_image span {
    width: 25px;
    height: 25px;
    line-height: 10px;
    padding-left: 9px;
    right: 17px;
    top: 10px;
    opacity: 0;
    transition: 0.3s ease;
}



/*user show start*/
.src-image {
    display: none;
}

.card {
    overflow: hidden;
    position: relative;
    border: 1px solid #CCC;
    border-radius: 8px;
    text-align: center;
    padding: 0;
    background-color: #284c79;
    color: rgb(136, 172, 217);
}

.card .header-bg {
    /* This stretches the canvas across the entire hero unit */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px #FFF solid;
    /* This positions the canvas under the text */
    z-index: 1;
}
.card .avatar {
    position: relative;
    margin-top: 15px;
    z-index: 100;
}

.card .avatar img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(0,0,30,0.8);
}
